# Seed
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=

# General
NODE_ENV=development
API_PORT=3000
API_TCP_PORT=3010
API_HOST=localhost
WEBHOOK_RECEIVER_PORT=3001
ENCRYPTION_KEY=
ENCRYPTION_SALT=
TWITCH_WEBHOOK_URL=

# Features
FEATURE_REGISTER_EMAIL=true
FEATURE_REGISTER_DISCORD=true

# Auth
JWT_SECRET_ACCESS=your_jwt_secret_access
JWT_SECRET_REFRESH=your_jwt_secret_refresh
JWT_TTL_ACCESS=3600
JWT_TTL_REFRESH=86400

# Discord
DISCORD_TOKEN=your_discord_token
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/discord/authorize
DISCORD_API_URL=https://discord.com/api

# Redis
REDIS_HOST=localhost # redis
REDIS_PORT=6379
REDIS_USER=dev-redis
REDIS_PASSWORD=dev-password

# Postgresql
DB_HOST=localhost # postgres
DB_PORT=5439 # 5432
DB_USER=dev-psql-user
DB_PASSWORD=dev-password
DB_NAME=dev-db-name

# RabbitMQ
RABBIT_USER=dev-rabbit-user
RABBIT_PASSWORD=dev-pass
RABBIT_VHOST=/
RABBIT_HOST=localhost # rabbitmq
RABBIT_PORT=5672

RABBIT_API_USER=api_user
RABBIT_API_PASSWORD=api_pass
RABBIT_RECEIVER_USER=receiver_user
RABBIT_RECEIVER_PASSWORD=receiver_pass
RABBIT_DISCORD_USER=discord_user
RABBIT_DISCORD_PASSWORD=discord_pass
RABBIT_WORKER_USER=worker_user
RABBIT_WORKER_PASSWORD=worker_pass
