# Postgresql
DB_USER=db-user
DB_PASSWORD=db-password
DB_NAME=db-name

# RabbitMQ
RABBIT_USER=rabbit-user
RABBIT_PASSWORD=pass
RABBIT_VHOST=/

RABBIT_API_USER=api_user
RABBIT_API_PASSWORD=api_pass
RABBIT_RECEIVER_USER=receiver_user
RABBIT_RECEIVER_PASSWORD=receiver_pass
RABBIT_DISCORD_USER=discord_user
RABBIT_DISCORD_PASSWORD=discord_pass
RABBIT_TELEGRAM_USER=telegram_user
RABBIT_TELEGRAM_PASSWORD=telegram_pass
